API_ID=13569561
API_HASH=a689fce8b9f1c32c899b53811451385f
BOT_TOKEN=8183426732:AAENaLLkwbYxltGtPY0bkkjT2RkUxDw79qI
LOGGER_ID=-1002329626146
MONGO_DB_URI=mongodb+srv://ftyvfbgubhu7:hDZwwlNzlKBzls84@ameliamusicbot.f7dzw.mongodb.net/?retryWrites=true&w=majority&appName=AmeliaMusicbot
OWNER_ID=7252249791
STRING_SESSION=BQGFKr4AxAMJePXaCb45iPjcSctfzRpvvAQSWaGg2X2qLSv6kWp5VkrWIYpS4EuSLRReFTUuU1b_aCHHdICY1KSZ0ZnfOMepxzehD5kSieiYj8psaqSsBZQGJGis30Jxpc2DKa8i7bnAKsdT88LX6YI10sDksSp9c0aYvg0zTrH2tPSWG0VFVdNX-4P5LDwEk6xlJBfuSi1NXzhZbwWot6wa5JarjUpV97yCzJEXpss43U5n26upXcGvcuZcW-wnpblI-aNncFpLoH8n3QFkV4inrZ08wDgV520cZN-qZXbS424MXKV10hc1VLdu6kOy4gZkrpeKTE_Y6vBeU8GGhB6-Kd3MPgAAAAGvoD3dAA

